*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.DS_STORE
build/
.cache
.vagrant
.sass-cache

# YARD artifacts
.yardoc
_yardoc
doc/
.idea/
source/fonts/slate.svg
source/images/Add_Page_Variable.png
source/images/create_space.png
source/images/interaction_call.png
source/images/logo.png
source/images/page_load.png
source/images/PubSub_Interaction.png
source/images/PubSub_PageView.png
source/images/VHL_call.png
source/images/video_start_call.png
source/includes/_errors.md
source/index.html.md
source/javascripts/all.js
source/javascripts/all_nosearch.js
source/javascripts/app/_lang.js
source/javascripts/app/_search.js
source/javascripts/app/_toc.js
source/javascripts/lib/_energize.js
source/javascripts/lib/_imagesloaded.min.js
source/javascripts/lib/_jquery.highlight.js
source/javascripts/lib/_jquery.js
source/javascripts/lib/_lunr.js
source/layouts/layout.erb
source/stylesheets/_icon-font.scss
source/stylesheets/_normalize.scss
source/stylesheets/_rtl.scss
source/stylesheets/_variables.scss
source/stylesheets/print.css.scss
source/stylesheets/screen.css.scss
